 {{> title header='Завдання 1' description='Гнучко спозіціонуйте елементи .item  в контейнері .task1'}}

<div class="wrapper">
  <img src="img/div.container.png"/>
  <div class="container">
    <div class='task1 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>


 {{> title header='Завдання 2' description='Гнучко спозіціонуйте елементи .item горизонтально зліва направо. в контейнері .task2'}}
<div class="wrapper">
  <img src="img/div.container-1.png"/>
  <div class="container">
    <div class='task2 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 3' description='Гнучко спозіціонуйте елементи .item горизонтально справа наліво в контейнері .task3'}}
<div class="wrapper">
  <img src="img/div.container-2.png"/>
  <div class="container">
    <div class='task3 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 4' description='Гнучко спозіціонуйте елементи .item вертикально зверху вниз. в контейнері .task4'}}
<div class="wrapper">
  <img src="img/div.container-3.png"/>
  <div class="container">
    <div class='task4 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 5' description='Гнучко спозіціонуйте елементи .item вертикально знизу вверх. в контейнері .task5'}}
<div class="wrapper">
  <img src="img/div.container-4.png"/>
  <div class="container">
    <div class='task5 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 6' description='Гнучко спозіціонуйте елементи .item з переносу в контейнері .task6'}}
<div class="wrapper">
  <img src="img/div.container-5.png"/>
  <div class="container">
    <div class='task6 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 7' description='Гнучко спозіціонуйте елементи .item без переносом в контейнері .task7'}}
<div class="wrapper">
  <img src="img/div.container-6.png"/>
  <div class="container">
    <div class='task7 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
 {{> title header='Завдання 8' description='Гнучко спозіціонуйте елементи .item з переносом в зворотньому порядку в контейнері .task8'}}
<div class="wrapper">
  <img src="img/div.container-7.png"/>
  <div class="container">
    <div class='task8 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 9' description='Гнучко спозіціонуйте елементи .item горизонтально справа наліво з переносом  в контейнері .task9'}}
<div class="wrapper">
  <img src="img/div.container-8.png"/>
  <div class="container">
    <div class='task9 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 10' description='Розмістіть елементи .item на початку основної лінії в контейнері .task10'}}
<div class="wrapper">
  <img src="img/div.container-9.png"/>
  <div class="container">
    <div class='task10 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 11' description='Розмістіть елементи .item в кінці основної лінії в контейнері .task11'}}
<div class="wrapper">
  <img src="img/div.container-10.png"/>
  <div class="container">
    <div class='task11 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 12' description='Розмістіть елементи .item по центру основної лінії в контейнері .task12'}}
<div class="wrapper">
  <img src="img/div.container-11.png"/>
  <div class="container">
    <div class='task12 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 13' description='Розмістіть елементи .item рівномірно без відступів від країв по основної лінії в контейнері .task13'}}
<div class="wrapper">
  <img src="img/div.container-12.png"/>
  <div class="container">
    <div class='task13 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 14' description='Розмістіть елементи .item з однаковими відстанями між ними та з меншим відступом від країв контейнера по основної лінії в контейнері .task14'}}
<div class="wrapper">
  <img src="img/div.container-13.png"/>
  <div class="container">
    <div class='task14 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 15' description='Розмістіть елементи .item рівномірно по головній лінії з однаковими відстанями між елементами та країв блоку в контейнері .task15'}}
<div class="wrapper">
  <img src="img/div.container-14.png"/>
  <div class="container">
    <div class='task15 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 16' description='Розмістіть елементи .item так щоб вони заповнили всю основну линію в контейнері .task16'}}
<div class="wrapper">
  <img src="img/div.container-15.png"/>
  <div class="container fix-height">
    <div class='task16 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 17' description='Розмістіть елементи .item на початку другої лінії в контейнері .task17'}}
<div class="wrapper">
  <img src="img/div.container-16.png"/>
  <div class="container fix-height ">
    <div class='task17 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 18' description='Розмістіть елементи .item в кінці другої лінії в контейнері .task18'}}
<div class="wrapper">
  <img src="img/div.container-17.png"/>
  <div class="container fix-height">
    <div class='task18 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 19' description='Розмістіть елементи .item по центру другої лінії в контейнері .task19'}}
<div class="wrapper">
  <img src="img/div.container-18.png"/>
  <div class="container fix-height">
    <div class='task19 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 20' description='Розмістіть елементи .item так щоб вони заповнили всю другу линію в контейнері .task21'}}
<div class="wrapper">
  <img src="img/div.container-19.png"/>
  <div class="container fix-height">
    <div class='task20 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 21' description='Розмістіть елементи .item рівномірно без відступів від країв по другій лінії в контейнері .task121'}}
<div class="wrapper">
  <img src="img/div.container-20.png"/>
  <div class="container fix-height">
    <div class='task21 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 22' description='Розмістіть елементи .item з однаковими відстанями між ними та з меншим відступом від країв контейнера по другій лінії в контейнері .task22'}}
<div class="wrapper">
  <img src="img/div.container-21.png"/>
  <div class="container fix-height">
    <div class='task22 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 23' description='Розмістіть елементи .item рівномірно по другій лінії з однаковими відстанями між елементами та країв блоку в контейнері .task23'}}
<div class="wrapper">
  <img src="img/div.container-22.png"/>
  <div class="container fix-height">
    <div class='task23 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 24' description='Розмістіть елементи .item по центру основної лінії та на початку другїй лінії в контейнері .task24'}}
<div class="wrapper">
  <img src="img/div.container-23.png"/>
  <div class="container fix-height">
    <div class='task24 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>


 {{> title header='Завдання 25' description='Вирівняйте елементи .item на початку другої лінії в контейнері .task25'}}
<div class="wrapper">
  <img src="img/div.container-24.png"/>
  <div class="container fix-height ">
    <div class='task25 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 26' description='Вирівняйте елементи .item в кінці другої лінії в контейнері .task26'}}
<div class="wrapper">
  <img src="img/div.container-25.png"/>
  <div class="container fix-height">
    <div class='task26 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 27' description='Вирівняйте елементи .item по центру другої лінії в контейнері .task27'}}
<div class="wrapper">
  <img src="img/div.container-26.png"/>
  <div class="container fix-height">
    <div class='task27 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 28' description='Вирівняйте елементи .item так щоб вони заповнили всю основну линію в контейнері .task28'}}
<div class="wrapper">
  <img src="img/div.container-27.png"/>
  <div class="container fix-height">
    <div class='task28 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 29' description='Вирівняйте елементи .item по рядку тексту по другїй лінії в контейнері .task29'}}
<div class="wrapper">
  <img src="img/div.container-28.png"/>
  <div class="container fix-height">
    <div class='task29 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 30' description='Вирівняйте елемент .item1 по початку другої лінії в контейнері .task30'}}
<div class="wrapper">
  <img src="img/div.container-29.png"/>
  <div class="container fix-height">
    <div class='task30 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item  item5'>
        5
      </div>
      <div class='item  item5'>
        6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 31' description='Вирівняйте елемент .item2 по краю другої лінії в контейнері .task31'}}
<div class="wrapper">
  <img src="img/div.container-30.png"/>
  <div class="container fix-height">
    <div class='task31 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item  item5'>
        5
      </div>
      <div class='item  item5'>
        6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 32' description='Вирівняйте елемент .item3 по центру другої лінії в контейнері .task32'}}
<div class="wrapper">
  <img src="img/div.container-31.png"/>
  <div class="container fix-height">
    <div class='task32 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item  item5'>
        5
      </div>
      <div class='item  item5'>
        6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 33' description='Розтяніть елемент .item4 по другій лінії в контейнері .task33'}}
<div class="wrapper">
  <img src="img/div.container-32.png"/>
  <div class="container fix-height">
    <div class='task33 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item  item5'>
        5
      </div>
      <div class='item  item5'>
        6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 34' description='Задайте початкуову довжину флекс елементу .item1 в половоину батьківсього контейнера в контейнері .task34'}}
<div class="wrapper">
  <img src="img/div.container-33.png"/>
  <div class="container">
    <div class='task34 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 35' description='Встановіть елементу .item2 пропорційне збільшення в в довжині в розмірі 1 в контейнері .task35'}}
<div class="wrapper">
  <img src="img/div.container-34.png"/>
  <div class="container">
    <div class='task35 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 36' description='Встановіть елементу .item3 пропорційне зменшення в довжині в розмірі 0.5 в контейнері .task36'}}
<div class="wrapper">
  <img src="img/div.container-35.png"/>
  <div class="container">
    <div class='task36 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 37' description='Встановіть елементу .item4 початкову ширину 200px, пропорційне збільшення та зменшення в довжині в розмірі 0 в контейнері .task37'}}
<div class="wrapper">
  <img src="img/div.container-36.png"/>
  <div class="container">
    <div class='task37 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 38' description='Встановіть відступи між елементами .item 20рх між рядками та 30рх між колонками в контейнері .task38'}}
<div class="wrapper">
  <img src="img/div.container-37.png"/>
  <div class="container">
    <div class='task38 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 39' description='Виведіть елементи .item в порядку показаному на картинці в контейнері .task39'}}
<div class="wrapper">
  <img src="img/div.container-38.png"/>
  <div class="container">
    <div class='task39 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
    </div>
  </div>
</div>
