.task1 {
}

.task2 {
  display: flex;
}

.task3 {
  display: flex;
}

.task4 {
  display: flex;
}

.task5 {
  display: flex;
}

.task6 {
  display: flex;
}

.task7 {
  display: flex;
}

.task8 {
  display: flex;
}

.task9 {
  display: flex;
}

.task10 {
  display: flex;
}

.task11 {
  display: flex;
}

.task12 {
  display: flex;
}

.task13 {
  display: flex;
}

.task14 {
  display: flex;
}

.task15 {
  display: flex;
}

.task16 {
  display: flex;
}

.task17 {
  display: flex;
}

.task18 {
  display: flex;
}

.task19 {
  display: flex;
}

.task20 {
  display: flex;
}

.task21 {
  display: flex;
}

.task22 {
  display: flex;
}

.task23 {
  display: flex;
}

.task24 {
  display: flex;
}

.task25 {
  display: flex;
}

.task26 {
  display: flex;
}

.task27 {
  display: flex;
}

.task28 {
  display: flex;
}

.task29 {
  display: flex;
}

.task30 .item1 {
}

.task31 .item2 {
}

.task32 .item3 {
}

.task33 .item4 {
}

.task34 .item1 {
}

.task35 .item2 {
}

.task36 .item3 {
}

.task37 .item4 {
}

.task38 {
  display: flex;
}

.task39 .item1 {
}
.task39 .item3 {
}
